<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Video Post – Video Sharing HTML Template</title>
        <meta name="keywords" content="Blog website templates" />
        <meta name="description" content="Author - Personal Blog Wordpress Template">
        <meta name="author" content="Rabie Elkheir">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Owl Carousel Assets -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"  type="text/css" />

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Raleway:400,500,700|Roboto:300,400,500,700,900|Ubuntu:300,300i,400,400i,500,500i,700" rel="stylesheet">
        <!-- Main CSS -->
        <link rel="stylesheet" href="css/style.css" />
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

    <div id="main-page">

    	<div class="main-header">
        	<div class="container">
            	<div class="logo">
                	<a href="#"><img src="img/logo.png" alt=""></a>
                </div>
                <h1>Video Post – Video Sharing HTML Template</h1>
                <div class="wasf">
                Video Post – Video Sharing HTML Template Its a great business though. We all people love to share photos, videos, sounds in facebook, twitter, Youtube, Dailymotion or other media sharing sites. Among of us, many people want to make our own media sharing site like Youtube, Dailymotion where we can share photos or videos. Video Cafe is a theme that helps you to do that! You can setup your own website and stream your own media using our Template. It has a user interface with nice UX, with multiple homepage version.
                </div>
                <a data-scroll  href="#theme-page"   class="btn btn-primary btn-lg">Check all the Pages!</a>

            </div><!-- // container -->
        </div><!-- // main-header -->


        <div id="theme-page">
        	<div class="container">

                <button type="button" class="btn btn-primary btn-lg btn-buy">Buy Template On ThemeForest</button>
				<h3>Check our all the template has to offer!</h3>


               <div class="row">

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item1.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="01-home.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="01-home.html" class="full-block"></a>
                            </div>
                            <div class="title">01-home</div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item2.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="02-category.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="02-category.html" class="full-block"></a>
                            </div>
                            <div class="title">02-category</div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item3.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="03-category_videos.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="03-category_videos.html" class="full-block"></a>
                            </div>
                            <div class="title">03-category_videos</div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item4.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="04-category_chanels.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="04-category_chanels.html" class="full-block"></a>
                            </div>
                            <div class="title">04-category_chanels</div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item5.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="05-category_playlists.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="05-category_playlists.html" class="full-block"></a>
                            </div>
                            <div class="title">05-category_playlists</div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item6.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="06-category_about.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="06-category_about.html" class="full-block"></a>
                            </div>
                            <div class="title">06-category_about</div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item7.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="07-log_in_page.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="07-log_in_page.html" class="full-block"></a>
                            </div>
                            <div class="title">07-log_in_page</div>
                        </div>
                    </div>



                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item8.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="08-sign_up_page.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="08-sign_up_page.html" class="full-block"></a>
                            </div>
                            <div class="title">08-sign up page</div>
                        </div>
                    </div>





                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item9.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="09-watch.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="09-watch.html" class="full-block"></a>
                            </div>
                            <div class="title">09-watch</div>
                        </div>
                    </div>




                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item10.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="10-upload.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="10-upload.html" class="full-block"></a>
                            </div>
                            <div class="title">10-upload</div>
                        </div>
                    </div>



                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item11.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="blog.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="blog.html" class="full-block"></a>
                            </div>
                            <div class="title">11-blog</div>
                        </div>
                    </div>





                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item12.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="12-single.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="12-single.html" class="full-block"></a>
                            </div>
                            <div class="title">12-single</div>
                        </div>
                    </div>







                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item13.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="13-404_page.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="13-404_page.html" class="full-block"></a>
                            </div>
                            <div class="title">13-404_page</div>
                        </div>
                    </div>







                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-6">
                        <div class="page-item">
                            <div class="page-item-thumb">
                                <img src="screenshots/page-item14.jpg" alt="page">
                                <div class="overlay overlay-dark"></div>
                                <a target="_blank" href="14-history.html" class="btn btn-breez btn-sm">Go to the Page</a>
                                <a target="_blank" href="14-history.html" class="full-block"></a>
                            </div>
                            <div class="title">14-history</div>
                        </div>
                    </div>



               </div><!-- // row -->

			</div><!-- // container -->
        </div><!-- // theme-page -->



    </div>
    <!-- // main page -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/grid-blog.min.js"></script>

	</body>

</html>
